/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************
 * 0. TABLE OF CONTENTS:
 *
 * -1: CSS Reset
 *  0: Table of Contents
 *  1: Custom Styles
 *  2: Header
 *  3:
 *  4:
 *  5:
 *************************/

/*******************
 * 1. CUSTOM STYLES
 *******************/

body {
	background-color: #333;
	color: #fff;
	font: normal 12px/18px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 820px;
	margin: 0 auto;
	text-align: left;
}

a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #000;
}

/*************
 * 2. COLUMNS
 *************/

 *,
 *:before,
 *:after {
   -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
		   box-sizing: border-box;
 }

.col-2-5 {
	width: 38.33%;
}

.col-3-5 {
	width: 61.66%;
}

.col-2-5,
.col-3-5 {
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	color: #000
}

.left,
.inset-left {
	padding: 30px 30px 0 70px;
}
.right,
.inset-right {
	padding: 30px 70px 0 30px;
}

.inset-left,
.inset-right {
	background-color: #f8f8f8;
}

.inset-left {
	box-shadow: inset -8px 0 5px -5px rgba(0, 0, 0, .3);
}
.inset-right {
	box-shadow: inset 8px 0 5px -5px rgba(0, 0, 0, .3);
}

.left section,
.right section,
.inset-left section,
.inset-right section {
	margin-bottom: 20px;
}

.short {

}
.mid {
	height: 650px;
}
.tall {

}

/**************
 * 3. CLEARFIX
 **************/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

/************
 * 4. HEADER
 ************/

header section{
	background-color: #00a2d6;
	
	padding-left: 70px;
}
header img {
	width: 120px;
	border-radius: 50%;
	float: right;
	margin: 30px 70px 30px 0;
}

.focus {
	margin-top: 50px;
}

.intro {
	background-color: #566267;
	padding: 30px 70px 30px 70px;
	box-shadow: inset 0 11px 5px -5px rgba(0, 0, 0, .3);
	font: 300 15px/22px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/****************
 * 5. NAVIGATION
 ****************/

nav {
	background-color: #008dd0;
	padding: 15px 0 0 55px;
	font-weight: 100;
}
nav li {
	display: inline-block;
	padding-bottom: 5px;
	margin: 0 15px;
	vertical-align: top;
}
.selected {
	font-weight: 400;
	border-bottom: 1px solid #fff;
}

/****************
 * 6. TYPOGRAPHY
 ****************/

h1 {
	font: 100 48px/64px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
	font: 400 16px/24px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #4db1dd;
	margin-bottom: 10px;
}
h3 {
	font: 100 20px/30px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: .1em;
	margin-left: 4px;
}

/************
 * 7. TABLES
 ************/

table {
	width: 100%;
}
th {
	font-weight: 500;
	padding-top: 6px;
}
th,
td {
	border-bottom: 1px solid #ddd;
}

td {
	padding-bottom: 8px;
}
tr:first-child th {
	padding: 0;
}

.col-3-5 th {
	border: none;
	padding-top: 18px;
}
.col-3-5 td {
	padding: 4px 0 6px 0;
}

.borderize {
	border-left: 1px solid #00a2d6;
	padding-left: 20px;
	margin-left: 10px;
}
.border-hide {
	width: 6px;
	height: 5px;
	background-color: #f8f8f8;
	position: absolute;
	margin-left: 9px;
}
.impossibullet {
	background-image: radial-gradient(#00a2d6 33%, rgba(0, 141, 208, .4) 37%);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
}
.first {
	margin-top: -1px;
}
.second {
	margin-top: 82px;
}
.third {
	margin-top: 165px;
}

/*********************
 * 8. DESIGN ELEMENTS
 *********************/

.bar-100,
.bar-90,
.bar-80,
.bar-70,
.bar-60,
.bar-50 {
	width:100%;
	height: 6px;
}
.bar-100 {
	background-color: #00a2d6;
}
.bar-90 {
	background-image: linear-gradient(to right, #00a2d6 90%, #fff 90%, #ddd 91%);
}
.bar-80 {
	background-image: linear-gradient(to right, #00a2d6 80%, #fff 80%, #ddd 81%);
}
.bar-70 {
	background-image: linear-gradient(to right, #00a2d6 70%, #fff 70%, #ddd 71%);
}
.bar-60 {
	background-image: linear-gradient(to right, #00a2d6 60%, #fff 60%, #ddd 61%);
}
.bar-50 {
	background-image: linear-gradient(to right, #00a2d6 50%, #fff 50%, #ddd 51%);
}

.blockify p {
	display: inline-block;
	width: 40%;
}
.blockify div {
	display: inline-block;
	width: 60%;
}

.ring-bg,
.ring-static,
.ring-100,
.ring-90,
.ring-80,
.ring-70,
.ring-60 {
	border: 6px solid;
	border-radius: 50%;
	height: 73px;
	width: 73px;
	display: inline-block;
}
.ring-bg {
	border-color: #ddd;
	margin-left: 10px;
}
.ring-100 {
	border-color: #00a2d6;
}
.ring-static,
.ring-90,
.ring-80,
.ring-70,
.ring-60 {
	border-color: #00a2d6;
	border-top-color: transparent;
	border-right-color: transparent;
	margin-top: -6px;
	margin-left: -6px;
}
.ring-static {
	transform: rotate(45deg);
}
.ring-90 {
	transform: rotate(-144deg);
}
.ring-80 {
	transform: rotate(-108deg);
}
.ring-70 {
	transform: rotate(-72deg);
}
.ring-60 {
	transform: rotate(-36deg);
}

.correct-90 {
	transform: rotate(99deg);
}
.correct-80 {
	transform: rotate(63deg);
}
.correct-70 {
	transform: rotate(27deg);
}
.correct-60 {
	transform: rotate(-9deg);
}

.centered {
	text-align: center;
	line-height: 61px;
	font-weight: 500;
	font-size: 9px;
}

/***********
 * 9. ICONS
 ***********/

.icon-light {
	color: #a3d5f5;
}
.icon-dark {
	color: #008dd0;
}
.icon-space {
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	margin: 0 4%;
	border-radius: 50%;
	background-color: #99caf0; /* 9fcdf5 90d2f6 8fbfef 93c7f0 99caf0 99cae9*/
	vertical-align: top;
}
.icon-space:first-child {
	margin-left: 0;
}
.icon-space:last-child {
	margin-right: 0;
}
.icon-space i {
	line-height: 60px;
}
.icon-space p {
	font-size: 10px;
	font-weight: 500;
}

/*************
 * 10. FOOTER
 *************/

footer section {
	 background-color: #00a2d6;
	 padding: 14px 120px;
	 text-align: left;
	 font-size: 10px;
}
.contact {
	background-color: #008dd0;
	width: 100%;
	padding: 10px 70px;
}
footer .contact div {
	width: 70%;
	display: inline-block;
	letter-spacing: 0.05em;
}
footer .contact div:last-child {
	text-align: right;
	width: 30%;
}
.alignment {
	display: inline-block;
	width: 33.33%;
	text-align: center;
}