/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************
 * 0. TABLE OF CONTENTS:
 *
 * -1: CSS Reset
 *  0: Table of Contents
 *  1: Body
 *  2: Header
 *  3:
 *  4:
 *  5:
 *************************/

/**********
 * 1. BODY
 **********/

body {
	background-color: #333;
	color: #fff;
	font: normal 12px/18px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 820px;
	margin: 0 auto;
	text-align: left;
}

/*************
 * 2. COLUMNS
 *************/

 *,
 *:before,
 *:after {
   -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
		   box-sizing: border-box;
 }

.col-2-5 {
	width: 40%
}

.col-3-5 {
	width: 60%;
}

.col-2-5,
.col-3-5 {
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	color: #000
}

.left,
.inset-left {
	padding: 25px 30px 25px 70px;
}
.right,
.inset-right {
	padding: 25px 70px 25px 30px;
}

.inset-left,
.inset-right {
	background-color: #f8f8f8;
}

.inset-left {
	box-shadow: inset -8px 0 5px -5px rgba(0, 0, 0, .3);
}
.inset-right {
	box-shadow: inset 8px 0 5px -5px rgba(0, 0, 0, .3);
}

/**************
 * 3. CLEARFIX
 **************/

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}

/************
 * 4. HEADER
 ************/

header section{
	background-color: #00a2d6;
	
	padding-left: 70px;
}
header img {
	width: 120px;
	border-radius: 50%;
	float: right;
	margin: 30px 70px 30px 0;
}

.focus {
	margin-top: 50px;
}

.intro {
	background-color: #566267;
	padding: 30px 70px 30px 70px;
	box-shadow: inset 0 11px 5px -5px rgba(0, 0, 0, .3);
	font: 300 15px/22px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/****************
 * 5. NAVIGATION
 ****************/

nav {
	background-color: #008dd0;
	padding: 15px 0 0 55px;
	font-weight: 100;
}
nav a {
	color: #fff;
	text-decoration: none;
}
nav a:hover {
	font-weight: 400;
}
nav li {
	display: inline-block;
	padding-bottom: 5px;
	margin: 0 15px;
	vertical-align: top;
}
.selected {
	font-weight: 400;
	border-bottom: 1px solid #fff;
}

/****************
 * 6. TYPOGRAPHY
 ****************/

h1 {
	font: 100 48px/64px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
	font: 400 16px/24px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #4db1dd;
	margin-top: 20px;
}
h3 {
	font: 100 20px/30px "Heebo", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: .1em;
	margin-left: 4px;
}

/************
 * 7. TABLES
 ************/

table {
	width: 100%;
}
th {
	font-weight: 500;
}
th,
td {
	padding: 8px 4px 8px 0;
	border-bottom: 1px solid #ddd;
}

.col-3-5 th {
	border: none;
	padding: 12px 4px 0 0;
}
.col-3-5 td {
	padding: 6px 4px 6px 0;
}

/*********************
 * 8. DESIGN ELEMENTS
 *********************/

.bar-100,
.bar-90,
.bar-80,
.bar-70,
.bar-60,
.bar-50 {
	width:100%;
	height: 6px;
}
.bar-100 {
	background-color: #00a2d6;
}
.bar-90 {
	background-image: linear-gradient(to right, #00a2d6 90%, #fff 90%, #ddd 91%);
}
.bar-80 {
	background-image: linear-gradient(to right, #00a2d6 80%, #fff 80%, #ddd 81%);
}
.bar-70 {
	background-image: linear-gradient(to right, #00a2d6 70%, #fff 70%, #ddd 71%);
}
.bar-60 {
	background-image: linear-gradient(to right, #00a2d6 60%, #fff 60%, #ddd 61%);
}
.bar-50 {
	background-image: linear-gradient(to right, #00a2d6 50%, #fff 50%, #ddd 51%);
}

.blockify p {
	display: inline-block;
	width: 40%;
}
.blockify div {
	display: inline-block;
	width: 60%;
}

.ring-bg,
.ring-static,
.ring-100,
.ring-90,
.ring-80,
.ring-70,
.ring-60 {
	border: 6px solid;
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: inline-block;
}
.ring-bg {
	border-color: #ddd;
}
.ring-100 {
	border-color: #00a2d6;
}
.ring-static,
.ring-90,
.ring-80,
.ring-70,
.ring-60 {
	border-color: #00a2d6;
	border-top-color: transparent;
	border-right-color: transparent;
	margin-top: -6px;
	margin-left: -6px;
}
.ring-static {
	transform: rotate(45deg);
}
.ring-90 {
	transform: rotate(-144deg);
}
.ring-80 {
	transform: rotate(-108deg);
}
.ring-70 {
	transform: rotate(-72deg);
}
.ring-60 {
	transform: rotate(-36deg);
}

.ring-static p {
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/***********
 * 9. ICONS
 ***********/

.icon-light {
	color: #a3d5f5;
}
.icon-dark {
	background-color: #008dd0;
}
.spacer {
	text-align: justify;
}

/************
 * 10. LISTS
 ************/
